@{
    ViewData["Title"] = "Inicio";
}
@{
    Layout = "~/Views/Shared/LayoutPublico.cshtml";
}


<!-- BANNER -->

<div class="banner">
    <div class="contenedor">
        <div class="row">
            <span class="frase col-md-12">"CAMBIAMOS TU FORMA DE SOLICITAR UN TURNO"</span>
            <span class="col-md-12"><a class="btn btn-success" href="~/Turnos/IndexHomePublico"> Solicitar turno</a></span>

        </div>
    </div>
</div>

  

<!-- SECTION CONOCENOS -->

<section id="Nosotros">
    <div class=" titulo ">
        <h1 style="font-weight:bold"> NOSOTROS </h1>
        <hr class="sumbrayado" />
    </div>
    <div class="presentacion">
        <div class="row ">
            <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">

                <img src="~/lib/Imagenes/IMAGENNOSOTROS.png" class="img-presentacion">

            </div>
            <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12 texto-presentacion">
                <p>
                    Somos un equipo multidisciplinario en diferentes áreas como desarrollo, diseño y soporte técnico en
                    continua formación buscando nuevas tendencias, innovación y la mejor calidad en cada uno de nuestros
                    productos y servicios.
                </p>
                <p>
                    Con nuestro nuevo producto <b>AGENDAR</b> la rentabilidad de nuestros clientes y la atención a sus clientes perfeccionará.
                    Trabajamos diariamente para optimizar los puntos de contacto de las empresas y profesionales con su comunidad incorporando
                    tecnología, diseño y software.
                </p>
                <p>
                    NO PIERDAS MAS CLIENTES POR NO BRINDAR UNA BUENA EXPERIENCIA.
                    CONFÍA EN UNA SOLUCIÓN MODERNA Y ESCALABLE.
                    SÚMATE A LA TRANSFORMACIÓN DIGITAL.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- SECTION SERVICIOS Y FUNCIONAMIENTO -->

<section id="Servicios">
    <div class=" titulo ">
        <h1 style="font-weight:bold"> SERVICIOS  </h1>
        <hr class="sumbrayado" />
    </div>

    <div class="servicios">
        <h5 class="text-center">El servicio de turnos esta destinado para estos lugares</h5>
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
            <div class="col">
                <div class="card">
                    <img src="~/lib/Imagenes/ServicioClinicas.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CLÍNICAS Y HOSPITALES</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/lib/Imagenes/ServiciosMedicos.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MÉDICOS Y PSICOLOGÓS</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/lib/Imagenes/ServicioTecnicoAutomotriz.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">SERVICIOS AUTOMOTORES</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/lib/Imagenes/ServicioOdontologia.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ODONTÓLOGOS</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
            <div class="col">
                <div class="card">
                    <img src="~/lib/Imagenes/ServiciosReservaHab.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">RESERVA DE HABITACIONES</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/lib/Imagenes/ServicioEstetica.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ESTÉTICAS</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/lib/Imagenes/ServicioVacunacion.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CENTROS DE VACUNACIÓN</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/lib/Imagenes/ServicioGestionTramites.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">GESTIÓN DE TRÁMITES</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>


<!-- SECCION EQUIPO -->

<section id="Equipo" class="team">
    <div class=" titulo ">
        <h1 style="font-weight:bold">  EQUIPO </h1>
        <hr class="sumbrayado" />
    </div>


    <div class="row tamañoEquipo">

        <div class="col-xl-4 col-lg-3 col-md-6 col-xs-12">
            <div class="member">
                <img src="~/lib/Imagenes/GONZALO2.1.0.jpg" class="img-fluid" alt="">
                <div class="member-info">
                    <div class="member-info-content">
                        <h4>Gonzalo Pagliano</h4>
                        <span>Tec. en Desarrollo de Software</span>
                    </div>
                    <div class="social">
                        <a href="https://www.facebook.com/gonzi.pagliano" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/gonzipagliano/" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div> <!-- Fin Mienmbro nro3 -->
        <div class="col-xl-4 col-lg-3 col-md-6 col-xs-12">
            <div class="member">
                <img src="~/lib/Imagenes/ale2.1.0.jpg" class="img-fluid" alt="">
                <div class="member-info">
                    <div class="member-info-content">
                        <h4>Alejandro Fenoglio</h4>
                        <span>Tec. en Desarrollo de Software</span>
                    </div>
                    <div class="social">
                        <a href="https://www.facebook.com/ale10.fenoglio/" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/fenoglioale/" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div> <!-- Fin Miembro nro2 -->
        <div class="col-xl-4 col-lg-3 col-md-6 col-xs-12 ">
            <div class="member">
                <img src="~/lib/Imagenes/Vale2.1.0.jpg" class="img-fluid" alt="">
                <div class="member-info">
                    <div class="member-info-content">
                        <h4>VALENTIN BELETTI</h4>
                        <span>Tec. en Desarrollo de Software</span>
                    </div>
                    <div class="social">
                        <a href="https://www.facebook.com/beletti7" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/vale_beletti7/" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div> <!-- Fin Miembro nro3 -->

    </div>



</section>

<!-- SECCION EMPRESAS -->
<section id="Clientes">
    <div class="container  titulo">

        <h1 class="colorTitulo" style="font-weight:bold"> CLIENTES </h1>

        <hr class="sumbrayado" />

    </div>
    @*<div class="clientes ">
            <div class="row row-cols-md-2 row-cols-lg-3 empresaModals" id="empresa"></div>

        </div>*@
    <div class="va-carrousel-section">

        <div id="va_container">
            <button class="deals-scroll-left deals-paddle">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                     class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 320 512">
                    <path fill="currentColor"
                          d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                    </path>
                </svg>
            </button>

            <div class="va-carrousel-flexbox">
                <div class="va-card">
                    <a class="link-plain" target="_blank">
                        <img class="va-thumbnail" src="~/lib/Imagenes/244583806_158660636386720_3259375958166622437_n.jpg" />
                        <div class="va-title">Living Club </div>

                    </a>
                </div>
                <div class="va-card">
                    <a class="link-plain" target="_blank">

                        <img class="va-thumbnail" src="~/lib/Imagenes/1613483790376.jpg" />
                        <div class="va-title"> San Roque </div>

                    </a>
                </div>
                <div class="va-card">
                    <a class="link-plain" target="_blank">
                        <img class="va-thumbnail" src="~/lib/Imagenes/d4b15a65-e242-4f4a-97e1-d8784d61a2bc.webp" />
                        <div class="va-title">Macro </div>

                    </a>
                </div>
                <div class="va-card">
                    <a class="link-plain" target="_blank">
                        <img class="va-thumbnail" src="~/lib/Imagenes/descarga.png" />
                        <div class="va-title">Santader Rio </div>

                    </a>
                </div>
                <div class="va-card">
                    <a class="link-plain" target="_blank">
                        <img class="va-thumbnail" src="~/lib/Imagenes/images.jpg" />
                        <div class="va-title">Rock And Rouge </div>

                    </a>
                </div>
                <div class="va-card">
                    <a class="link-plain" target="_blank">
                        <img class="va-thumbnail" src="~/lib/Imagenes/cordoba.png" />
                        <div class="va-title">Cordobesa </div>

                    </a>
                </div>
                <div class="va-card">
                    <a class="link-plain" target="_blank">
                        <img class="va-thumbnail" src="~/lib/Imagenes/descarga (2).png" />
                        <div class="va-title">Sancor Salud </div>

                    </a>
                </div>
                <div class="va-card">
                    <a class="link-plain" target="_blank">
                        <img class="va-thumbnail" src="~/lib/Imagenes/descarga (1).jpg" />
                        <div class="va-title">Sancor </div>

                    </a>
                </div>
                <div class="va-card">
                    <a class="link-plain" target="_blank">
                        <img class="va-thumbnail" src="~/lib/Imagenes/og-logo.png" />
                        <div class="va-title">Lactear </div>

                    </a>
                </div>
                <div class="va-card">
                    <a class="link-plain" target="_blank">
                        <img class="va-thumbnail" src="~/lib/Imagenes/descarga (3).png" />
                        <div class="va-title">Las Tipas </div>

                    </a>
                </div>
            </div>

            <button class="deals-scroll-right deals-paddle">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                     class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 320 512">
                    <path fill="currentColor"
                          d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                    </path>
                </svg>
            </button>
        </div>


    </div>

</section>

<!-- SECTION CONTACTO -->

<section id="Contacto">
    <div class="titulo ">
        <h1 class="colorTitulo" style="font-weight:bold"> CONTACTO </h1>
        <hr class="sumbrayado" />
    </div>
    <div class="contacto">
        <form>
            <div class="row centrado">
                <div class="col-md-6">
                    <div class="inputContacto">
                        <input type="text" class="form-control " id="validarNombre" name="validarNombre" required placeholder="Nombre:">
                    </div>
                    <div class="inputContacto">
                        <input type="email" class="form-control " id="validarEmail" name="validarEmail" required placeholder="Email:">
                    </div>
                    <div class="inputContacto">
                        <input type="text" class="form-control " id="validarAsunto" name="validarAsunto" required placeholder="Asunto:">
                    </div>
                </div>
                <div class="col-md-5 .ml-auto">
                    <div class="inputContacto">

                        <textarea class="form-control" id="validationMensaje" name="validationMensaje" required placeholder="Mensaje:" cols="40" rows="5" min="50"></textarea>
                    </div>
                </div>
            </div>
            <div class="  flex-grow-1 centradobotones">
                <button class="btn btn-success tamañobotones " type="submit" name="submit">Enviar</button>
                @*<button class="btn btn-danger tamañobotones " type="reset" name="reset">Borrar</button>*@
            </div>
        </form>
    </div>
</section>

<!-- FOOTER -->
<footer class="text-center text-white" style="background-color: #BFC9CA;">
    <!-- Grid container -->
    @*<div class="container pt-4">*@
    <!-- Seccion: Redes Sociales -->

    <section>
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1"
           href="#!"
           role="button"
           data-mdb-ripple-color="dark">
            <i class="bi bi-facebook"></i>
        </a>

        <!-- Twitter -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1"
           href="#!"
           role="button"
           data-mdb-ripple-color="dark">
            <i class="bi bi-twitter"></i>
        </a>

        <!-- Google -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1"
           href="#!"
           role="button"
           data-mdb-ripple-color="dark">
            <i class="bi bi-google"></i>
        </a>

        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1"
           href="#!"
           role="button"
           data-mdb-ripple-color="dark">
            <i class="bi bi-instagram"></i>
        </a>

        <!-- Whatsapp -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1"
           href="#!"
           role="button"
           data-mdb-ripple-color="dark">
            <i class="bi bi-whatsapp"></i>
        </a>
        <!-- Copyright -->
        <div class="text-center font-weight-bold text-dark p-3" style="background-color: #BFC9CA;">
            © 2022 Copyright: AGENDAR - VGA SOFTWARE
        </div>
    </section>
    @*</div>*@
</footer>

@section Scripts {

    <script src="~/js/Index.js"></script>





}