@{
    ViewData["Title"] = "Inicio";
}
@{
    Layout = "~/Views/Shared/LayoutPublico.cshtml";
}

<!-- BANNER -->

    <div class="banner">
        <div class="contenedor">
            <span class="frase">"CAMBIAMOS TU FORMA DE SOLICITAR UN TURNO"</span>
        </div>
    </div>

<!-- SECTION CONOCENOS -->

<section class="presentacion">
    <div class="texto-presentacion">
        <p>
            Somos un equipo multidisciplinario en diferentes áreas como desarrollo, diseño y soporte técnico en 
            continua formación buscando nuevas tendencias, innovación y la mejor calidad en cada uno de nuestros 
            productos y servicios.
        </p>
        <p>
            Con nuestro nuevo producto <b>AGENDAR</b> la rentabilidad de nuestros clientes y la atención a sus clientes perfeccionará.
            Trabajamos diariamente para optimizar los puntos de contacto de las empresas y profesionales con su comunidad incorporando
            tecnología, diseño y software.
        </p>
        <p>
            NO PIERDAS MAS CLIENTES POR NO BRINDAR UNA BUENA EXPERIENCIA.
            CONFÍA EN UNA SOLUCIÓN MODERNA Y ESCALABLE.
            SÚMATE A LA TRANSFORMACIÓN DIGITAL.
        </p>
    </div>
</section>


<!-- SECCION EQUIPO -->

<section class="miembros">
    
    <h1 class="titulo-miembros">  MIEMBROS DEL EQUIPO  </h1>

    <div class="row box">
        <div class="div-miembros col-lg-6">
            <div class="miembro">
                <img class="logoMiembro" src="~/lib/Imagenes/AGENDAR_ISO_POSITIVO.png" />
                <div class="redes-sociales">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div>
                <div>
                    <h4>AGENDAR</h4>
                    <span>Software Premium</span>
                </div>
            </div>
        </div>
        <div class="div-miembros col-lg-6">
            <div class="miembro">
                <img src="~/lib/Imagenes/invitado1.jpg" alt="">
                <div class="redes-sociales">
                    <a href="https://www.facebook.com/gonzi.pagliano" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/gonzipagliano/" target="_blank"><i class="bi bi-instagram"></i></a>
                </div>
                <div>
                    <h4>GONZALO PAGLIANO</h4>
                    <span>Tec. en Desarrollo de Software</span>
                </div>
            </div>

        </div>
        <div class="div-miembros col-lg-6">
            <div class="miembro">
                <img src="~/lib/Imagenes/invitado1.jpg" alt="">
                <div class="redes-sociales">
                    <a href="https://www.facebook.com/beletti7" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/vale_beletti7/" target="_blank"><i class="bi bi-instagram"></i></a>

                </div>
                <div>
                    <h4>VALENTIN BELETTI</h4>
                    <span>Tec. en Desarrollo de Software</span>
                </div>
            </div>
        </div>
        <div class="div-miembros col-lg-6">
            <div class="miembro">
                <img src="~/lib/Imagenes/invitado1.jpg" alt="">
                <div class="redes-sociales">
                    <a href="https://www.facebook.com/ale10.fenoglio/" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/fenoglioale/" target="_blank"><i class="bi bi-instagram"></i></a>
                </div>
                <div>
                    <h4>ALEJANDRO FENOGLIO</h4>
                    <span>Tec. en Desarrollo de Software</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->

<footer>
    <div class="footer-grid">
        <div class="logo-footerGrid">
            <a href="#"><img src="~/lib/Imagenes/AGENDAR_LOGO_POSITIVO_01.png" alt=""></a>
        </div>
        <div class="contactos-grid">
            <h2>Contactos</h2>
            <ul>
                <li><a href=""><i class="bi bi-envelope-fill"></i> Correo Electrónico</a></li>
                <li><a href=""><i class="bi bi-whatsapp"></i> WhatsApp</a></li>
            </ul>
        </div>
        <div class="redes-grid">
            <h2>Redes sociales</h2>
            <ul>
                <li><a href=""><i class="bi bi-instagram"></i> Instagram</a></li>
                <li><a href=""><i class="bi bi-facebook"></i> Facebook</a></li>
            </ul>
        </div>
    </div>
</footer>