.navbar-light .navbar-nav .nav-link {
    color: #FFF !important;
    font-weight: bold;
}

a {
    color: black !important;
    font-weight: bolder;
}

h2 {
    color: black !important;
}

#calendar {
    max-width: 1100px;
    max-height: 490px;
    margin: 0 auto;
}

.inputTurno {
    padding-left: 0px;
}



.inputProfesionalesfiltro {
    font-size: 9px !important;
    background-color: #2C3E50 !important;
    color: white !important;
    width: 180px;
}
@media(max-width:414px) {
    .fc-toolbar-chunk {
        font-size: 10px;
        color: black !important;
    }
}

@media(max-width:414px) {
    .fc .fc-daygrid-more-link {
        font-size: 15px;
    }
}
@media(max-width:414px) {
    .modal-dialog {
        width: 400px;
    }
}

@media(max-width:414px) {
    .diminuir414 {
        padding-left: 123px !important;
    }
}

@media(max-width:414px) {
    .botones414 {
        padding-left: 60px !important;
    }
}

    .fc .fc-daygrid-more-link {
        color: black !important;
    }

    .aceptarBoton {
        padding-left: 90px;
    }

    .modalAceptar {
    }

    .fc-event-title {
        font-size: 11px;
    }

    .fc-event-time {
        font-size: 10px;
    }

    .modal-title {
        padding-left: 160px;
    }
