
.navbar-light .navbar-nav .nav-link {
    color: white !important;

}

.colorNav {
    background: rgba(138,221,45,0);
    transition: all 0.5s;
}


/*clase para que cambie de color el nav*/ 
.header.sticked {
    background: #677297;
    transition: 0.8s;
}
.imagenSoliitarTurno {
    image-resolution: 300dpi;
    background-image: url('../lib/Imagenes/persona-y-computador-4.jpg');
}
/*BANNER*/
.banner {
    position: relative;
    background: url('../lib/Imagenes/persona-y-computador-2.jpg');
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-text-stroke: 2px black;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 40px;
    padding: 60px 30px;
    background: rgba(134, 134, 134, 0.5);
}

/*/* NOSOTROS */ /*PRESENTACION*/

.presentacion {
    grid-area: present;
    width: 95%;
    padding: 20px;
}
.img-presentacion {
    width: 90%;
    margin-top: 10px;
}
.texto-presentacion {
    font-weight:300;
    text-transform: uppercase;
    color: #dee2e6;
}



/*--------------------------------------------------------------
# Equipo
--------------------------------------------------------------*/
.titulo {
    padding-top: 25px;
    text-align: center;
    /*-webkit-text-stroke: 0.7px white;*/
    font-family: Candara;
    font-weight:900;
    color: #bab0b0;
}
.sumbrayado {
    display: flex;
    max-width: 15rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    box-shadow: 5px 2px 5px 2px;
    color: white;
}
.tamañoEquipo {
    padding-bottom: 20px;
    padding-right: 70px;
    padding-left: 130px;
    margin-right: 0px !important;
}



.team .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    width: 300px !important;
    height: 190px !important;
}

    .team .member .member-info {
        opacity: 0;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        transition: 0.2s;
    }

    .team .member .member-info-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        transition: bottom 0.4s;
    }

        .team .member .member-info-content h4 {
            font-weight: 700;
            margin-bottom: 2px;
            font-size: 18px;
            color: #fff;
        }

        .team .member .member-info-content span {
            font-style: italic;
            display: block;
            font-size: 13px;
            color: #fff;
        }

    .team .member .social {
        position: absolute;
        left: 0;
        bottom: -38px;
        right: 0;
        height: 48px;
        transition: bottom ease-in-out 0.4s;
        text-align: center;
    }

        .team .member .social a {
            transition: color 0.3s;
            color: #fff;
            margin: 0 10px;
            display: inline-block;
        }

            .team .member .social a:hover {
                color: #428bca;
            }

        .team .member .social i {
            font-size: 18px;
            margin: 0 2px;
        }

    .team .member:hover .member-info {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
        opacity: 1;
        transition: 0.4s;
    }

    .team .member:hover .member-info-content {
        bottom: 60px;
        transition: bottom 0.4s;
    }

    .team .member:hover .social {
        bottom: 0;
        transition: bottom ease-in-out 0.4s;
    }

/*.social a .bi bi-facebook :hover {
    color: #3b5998;
    background: #fff;
    border-radius: 52px;
}*/

/*REDES SOCIALES FOOTER*/
    .redes-sociales i {
    padding: 20px;
    font-size: 35px;
    color: rgb(4, 56, 114);
}

.redes-sociales i:hover {
        color:mediumvioletred;
    }

.box:hover h4, h6 {
   
    text-transform: uppercase;
    color: #dee2e6;
}


/*SECCIÓN EMPRESAS */

/*TAMAÑO CONTEINER*/
#va_container {
    position: relative;
    max-width: 1140px;
    margin: auto;
}
.va-carrousel-section {
    font-family: "Roboto";
    padding: 0px;
    position: relative;
}

@media (min-width: 768px) {

    .va-carrousel-section {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*TAMAÑO IMAGEN*/
.va-thumbnail {
    border-radius: 5px;
    border: 0px;
    height:120px;
    width:120px;

}


/*CARROUSEL FORMA*/
.va-carrousel-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

    .va-carrousel-flexbox .va-card {
        flex: 0 0 auto;
        padding-left: 20px;
    }

        .va-carrousel-flexbox .va-card:last-child {
            margin-right: 15px;
        }

            .va-carrousel-flexbox .va-card:last-child::after {
                content: ' ';
                display: inline-block;
            }

 /* OCULTAR BARRA INFERIOR*/
.va-carrousel,
.va-carrousel-flexbox {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

    .va-carrousel::-webkit-scrollbar,
    .va-carrousel-flexbox::-webkit-scrollbar {
        display: none;
    }

/*  CLASES TITULO EMPRESA*/
.va-carrousel-title {
    display: inline-block;
    color: white;
    font-weight: 700;
    padding-bottom: 8px;
    margin-bottom: 18px;
}

.va-title {
    margin-top: 8px;
    margin-left: 25px;
    font-size: 11px;
    max-height: 3em;
    overflow: hidden;
    color: white;
    font-weight: 700;
}

@media (min-width: 768px) {
    .va-title {
        font-size: 13px;
    }
}

/*CLASE FLECHAS*/
.deals-paddle {
    height: 38px;
    width: 38px;
    color: white;
    background-color: #00000089;
    border-radius: 50%;
    margin:auto;
    margin-top: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

    .deals-paddle:focus {
        outline: none;
    }

    .deals-paddle:active {
        border-style: solid;
        outline: none;
        user-select: none;
    }

    .deals-paddle svg {
        width: 10px;
    }

@media (min-width: 768px) {
    .other-game-button {
        width: 300px;
    }
}

.deals-scroll-left {
    top: 0;
    left: -40px;
    bottom: 0;
   
}

.deals-scroll-right {
    top: 0;
    bottom: 0;
    right: -40px;
}



/*CONTACTO*/
.contacto {
    padding-bottom: 60px;
   
}
.inputContacto {
    padding: 5px !important;
}
.centrado {
    padding-left: 50px;
    margin-right: 0px !important;
    padding-top: 70px;
   
}
.centradobotones {
    padding-left: 52px;
   
}
.tamañobotones {
    width: 300px;

}

/*BOTON PARA VOLVER HACIA ARRIBA*/
.top {
    background-color: black;
    color: white;
    position: fixed;
    width: 40px;
    height: 43px;
    border-radius: 3px;
    right: 15px;
    bottom: 15px;
    transition: display 0.5s ease-in-out;
    border-width: 0px;
    z-index: 998;
}

    .top i {
        font-size: 24px;
        position: absolute;
        top: 3px;
        left: 9px;
        width: 20px;
    
    }

.card-tamaño {
    height: 50px !important;
}
 /*CLASES MODAL PRIVADO */
.modal-header {
    background-color: #454d55;
    color: white;
}

.close{
    color:white !important;
}

.margen{
    margin-bottom:0px !important;
}