

.colorNav {
    background-color: #838383;
}

 /*CLASES MODAL PRIVADO */
.modal-header {
    text-align: center;
    background-color: #c6c8ca;
    color: white;
}
.inputProfesionalesFiltro {
    font-size: 12px !important;
    width: 240px;
    height: 40px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.inputProfesionales {
    font-size: 11px !important;
    height: 38px;
    font-weight: 400;
}
.botonHorario {
    padding-right: 5px;
}

.close {
    color: #090909 !important;
    opacity: 10;
}
.cerrarModal {
    color: white !important;
    opacity: 10;
}


.margen{
    margin-bottom:0px !important;
}

.linksModelos {
    color: black !important;
}
/*------------------------------------*\
	General
\*------------------------------------*/
/* -- typography -- */
body {
    font-family: 'system-ui';
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #000;
    background-repeat: no-repeat;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'system-ui';
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 18px;
    margin: 0 0 10px;
}

a {
    color: #FFF!important;
    text-decoration: none;/*
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;*/
}

    a:hover, a:focus {
        text-decoration: none;
        outline: none;
        opacity: 0.8;
        color: #6195FF;
    }

.main-color {
    color: #6195FF;
}

.white-text {
    color: #FFF;
}

::-moz-selection {
    background-color: #6195FF;
    color: #FFF;
}

::selection {
    background-color: #6195FF;
    color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

/* -- section  -- */

.section {
    position: relative;
}

.md-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* --  background section  -- */

.bg-grey {
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bg-dark {
    background-color: #515a5a;
}

/* --  background image section  -- */

.bg-img {
    height: 110vh;
    width: 120%;
    min-height:100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../lib/Imagenes/turnosWebImagen3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
}

    .bg-img .overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: .5;
        background: #1C1D21;
    }

.mt-5, .my-5 {
    margin-top: 2rem !important;
}


/*------------------------------------*\
	Logo
\*------------------------------------*/

.navbar-brand {
    padding: 0;
}

    .navbar-brand .logo, .navbar-brand .logo-alt {
        max-height: 40px;
        display: block;
    }

#nav:not(.nav-transparent):not(.fixed-nav) .navbar-brand .logo-alt {
    display: none;
}

#nav.nav-transparent:not(.fixed-nav) .navbar-brand .logo {
    display: none;
}

#nav.fixed-nav .navbar-brand .logo-alt {
    display: none;
}

@media only screen and (max-width: 767px) {
    #nav.nav-transparent .navbar-brand .logo-alt {
        display: none !important;
    }

    #nav.nav-transparent .navbar-brand .logo {
        display: block !important;
    }
}
/*------------------------------------*\
	LAYOUT PRIVADO
\*------------------------------------*/

.perfilUsuario {
    font-size: 16px;
    font-weight: bold;

}
.nav-item :hover {
    background-color: #3D3F3F;
}
.navbar {
     padding: .0rem 0rem; 
}

.navbar-brand img {
    height: 46px;
    padding: 4px;
}

.navbar-toggler {
    color: none;
}

.fas:hover, .fab:hover {
    color: #E5E7E9;
}

.ownbg {
    background: transparent;
    border-bottom: none;
}
.botonHorario{
    padding-left: 0 !important;
}

/*@media(max-width: 992px) {
    .col-md-2 .fab {
        font-size: 18px;
        padding-right: 0;
    }
}*/
@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        height: 5vh;
    }
}

@media(max-width: 768px) {
    #top {
        display: none;
    }

    .navbar-brand img {
        height: 50px;
        padding-left: 1px;
    }

    .navbar-dark .navbar-toggler {
        outline: none;
        border-color: rgba(255, 255, 255, 0);
    }
    .cerrarSesion {
        width: 110px;
    }
    .navbar-dark .navbar-toggler-icon .colorMenuHamb {
        color: #000;
    }
}
@media(max-width: 574px){
    .navbar-nav .nav-link {
        padding-left: 10px;
    }
    .navbar-brand img {
        height: 50px;
        padding-left: 10px;
    }

}
/*OCULTAR TABLA*/
@media(max-width:767px) {
    .ocultar767 {
        display: none;
    }
}

@media(max-width:820px) {
    .ocultar820 {
        display: none;
    }
}
    /* -- Botón Cerrar Sesión -- */
.cerrarSesion {
    color: black;
    font-family: unset;
    font-weight: 400;
    background-color: #838383;
    border: solid 1px;
    border-radius: 20px;
}

    .cerrarSesion:hover {
        color: #fff;
        background-color: red;
    }

    .bodyEmpresa {
        background-color: #252422;
    }

    .dialogEmpresa {
        background-color: white;
    }

    /*Clases input Internos*/
    .tituloHorario {
        text-align: center;
    }

    .letrainput {
        font-size: 11px !important;
    }

    .inputInicio {
        padding-left: 20px;
    }

    .inputDias {
        height: 166px !important;
        overflow-y: hidden
    }

    .inputLetra {
        font-size: 12px !important;
    }


option {
    font-weight: bold;
}

    .tamañoLetra {
        font-size: 2rem;
    }

    .horario {
        text-align: left !important;
        font-size: 10px !important;
        padding: 0px !important;
    }

    label {
        font-size: 13px;
        display: inline-block;
        margin-bottom: .5rem;
    }

    #DiaTurno {
        height: 9px !important;
    }

    .botonDias {
        width: 216px;
        background-color: white !important;
        font-size: 11px !important;
    }

    .tarjetaHorario {
        width: 100% !important;
    }

    /*Imagen Tablas Emplresas Interna*/
    .card-tamaño {
        height: 70px;
        width: 70px;
    }

    .espacioBotones {
        padding-bottom: 5px;
        padding-top: 16px;
    }

    

    table, th, td {
        border: 1px solid black !important;
    }

    thead {
        background: #a5a5a5 !important;
    }

    .table {
        color: #000;
    }

    .table-dark {
        color: #000 !important;
    }

    .labelCrearEmpresa {
        font-size: 20px;
    }
.alertaEmpresa {
    color: white;
}
.accordion {
    padding-bottom: 5px;
}
/*//Boton subir archivo//*/
.btn-file {
    position: relative;
    overflow: hidden;
    width: 200px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
 
     opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*/responsivo modal/*/
@media (max-width: 414px) {
    .modal-ancho

{
    width: 80%;
}
}

@media (max-width: 250px){

    .inputProfesionales {
        /*font-size: 11px !important;
        height: 38px;*/
        width: 200px;
        font-weight: 400;
    }

    .btn {
        font-weight: bold;
        padding: .350rem .5rem;
        font-size: 0.75rem;
        width: 120px;
    }

    }

@media (max-width: 421px) {
    .inputProfesionalesFiltro {
        width: 200px;
    }
    .btn-group-sm > .btn, .btn-sm {
        padding: .25rem .5rem;
        font-size: .79rem;
    }
    }

@media (max-width: 381px) {
    .inputProfesionalesFiltro {
        width: 180px;
    }
    .btn-group-sm > .btn, .btn-sm {
        padding: .25rem .5rem;
        font-size: .79rem;
    }
}
@media (max-width: 361px) {
    .inputProfesionalesFiltro {
        width: 160px;
        font-size: 10px !important;
        height: 30px;
        font-weight: bold;
        text-align: left;
        cursor: pointer;
    }

    .btn {
        font-weight: bold;
        padding: .35rem .5rem;
        font-size: 0.75rem;
        width: 140px;
        height: 30px;
    }
}
@media (max-width: 529px){
    body {
    font-size: 14px;
}
    .table td, .table th {
        padding: .5rem;
    }
    .btn-group-sm > .btn, .btn-sm {
        padding: .25rem .5rem;
        font-size: .79rem;
    }
    .btn-group-sm > .btn, .btn-sm {
        padding: .25rem .5rem;
        font-size: .79rem;
    }
}
@media (max-width: 443px) {
    .table td, .table th {
        padding: .35rem;
    }
    .btn-group-sm > .btn, .btn-sm {
        padding: .25rem .5rem;
        font-size: .79rem;
    }
}

@media (max-width: 425px) {
    body {
        font-size: 12px;
    }
}
