
.colorNav {
    background-color: #BFC9CA;
}

/*CLASES PARA SOLICITAR EL TURNO*/

.imagenSoliitarTurno {
    image-resolution: 300dpi;
    background-image: url('../lib/Imagenes/fondopedirturno.jpg');
}
.btn {
    padding: 0.375rem 0.75rem !important;
}
.errorTurno {
    color:white;
}
.letrainput {
    font-size: 11px !important;
    color: white;
    outline: auto !important;
}

.accordion{
    padding-bottom:4px;
}
.ocultar {
    display: none !important;
}
.card {
    background-color: transparent !important;
   
}
.card-header {
    background-color: white !important;
   
}
.card-body {
    background-color: #E7EBED !important;
}
.botonDatos {
    font-size: 17px !important;
    font-family: 'Times New Roman', Times, serif;
    outline: auto black !important;
}
.tituloinput {
    font-size: 11px !important;
    color: black;
    
}
h5 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
/*/Boton subir archivo/*/
.btn-file {
    position: relative;
    overflow: hidden;
    width: 200px;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        /*filter: alpha(opacity=0);*/
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
.bodyCrearEmpresa {
   
    background-image: url('../lib/Imagenes/fondopedirturno.jpg');
   
}