<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGENDAR</title>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fontawesome.com/icons"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
<link href="~/css/estilosPropios.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="bg-img">
            <div class="overlay"></div>
        </div>

        @*<nav class="navbar  navbar-expand-md navbar-dark ownbg">*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light colorNav  box-shadow mb-3  ">

            <div class="container">
                <a class="navbar-brand text-black pl-5" href="#"><img src="~/lib/Imagenes/AgendArLogo.jpg"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon colorMenuHamb"></span>
                </button>
                <partial name="_LoginPartial" />
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto" style="color:black">
                        @if (User.IsInRole("SuperUsuario"))
                        {
                            <li class="nav-item">
                                <a class="nav-link ocultar820" asp-area="" asp-controller="Provincias" asp-action="Index">PROVINCIAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ocultar820" asp-area="" asp-controller="Localidades" asp-action="Index">LOCALIDADES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Empresas" asp-action="Index">EMPRESAS</a>
                            </li>

                        }

                        @if (User.IsInRole("AdministradorEmpresa"))
                        {

                            <li class="nav-item">
                                <a class="nav-link ocultar820" asp-controller="Profesionales" asp-action="Index">PROFESIONALES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Horarios" asp-action="Index">HORARIOS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Turnos" asp-action="Index">TURNOS</a>
                            </li>


                        }
                        <li class="nav-item">
                            <form class="form-inline nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button class="cerrarSesion">Salir</button>
                            </form>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content mt-5">

        @RenderBody()

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Sweetalert.js" asp-append-version="true"></script>
    <script src="~/js/LayoutEstilos.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
