<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGENDAR</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/estilosPropios.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  colorNav box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-action="Index"><img src="~/lib/Imagenes/AGENDAR_LOGO_POSITIVO_02.png" class="img-fluid" width="120" alt="5px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                    <partial name="_LoginPartial" />
                    <ul class=" navbar-nav flex-grow-1 ">

                        <li class="nav-item">
                            <a class="nav-link font-weight-bold colortexto" asp-area="" asp-controller="Provincias" asp-action="Index">Provincias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold colortexto" asp-area="" asp-controller="Localidades" asp-action="Index">Localidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold colortexto" asp-area="" asp-controller="ClasificacionEmpresas" asp-action="Index">Tipo Empresa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold colortexto" asp-area="" asp-controller="ClasificacionProfesionales" asp-action="Index">Tipo Profesional</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold colortexto" asp-area="" asp-controller="Empresas" asp-action="Index">Empresas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold colortexto" asp-area="" asp-controller="Profesionales" asp-action="Index">Profesionales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold colortexto" asp-area="" asp-controller="Horarios" asp-action="Index">Horarios</a>
                        </li>                       
                        <li class="nav-item">
                            <a class="bn31" style="margin-right:10px" asp-area="" asp-controller="Home" asp-action="Index"><span class="bn31span font-weight-bold"> Cerrar Sesion </span></a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container body-content mt-5">

        @RenderBody()

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Sweetalert.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
