<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGENDAR</title>
@*<link rel="stylesheet" href="~/css/site.css" />*@
@*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
<link rel="stylesheet" href="~/lib/bootstrap-3/bootstrap.min.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
<link href="~/css/estilosPropios.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="bg-img" style="height:937px">
            <div class="overlay"></div>
        </div>
        <nav id="nav" class="navbar nav-transparent  ">
            <div class="container">
                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a @*asp-area="" asp-controller="Home" asp-action="Index"*@>
                            <img class="logo" style="padding-top:8px" src="~/lib/Imagenes/AgendArLogo.jpg" alt="logo">
                            <img class="logo-alt" src="~/lib/Imagenes/AgendArLogo.jpg" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <partial name="_LoginPartial" />
                <ul class="main-nav nav navbar-nav navbar-right">

                    <li><a asp-area="" asp-controller="Provincias" asp-action="Index">PROVINCIAS</a></li>
                    <li><a asp-area="" asp-controller="Localidades" asp-action="Index">LOCALIDADES</a></li>
                    <li><a asp-area="" asp-controller="Empresas" asp-action="Create">EMPRESAS</a></li>
                </ul>
                @*<div class="nav-item">

                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button class="main-btn">Cerrar Sesión</button>
                        </form>

                    </div>*@
            </div>
        </nav>
    </header>

    <div class="container body-content mt-5">

        @RenderBody()

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-3/bootstrap.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/Sweetalert.js" asp-append-version="true"></script>
    <script src="~/js/LayoutEstilos.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
