<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGENDAR</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/estilosPropios.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  colorNav box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand" ><img src="~/lib/Imagenes/AGENDAR_LOGO_POSITIVO_01.png" class="img-fluid" width="120" alt="5px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <partial name="_LoginPartial" />
                <ul class=" navbar-nav flex-grow-1 " style="margin-right:60px">                  
                    <li class="nav-item">
                        <a type="button" class="btn  btn-link-red     " asp-area="" asp-controller="Empresas" asp-action="Index">Empresas</a>
                    </li>                   
                    <li class="nav-item">
                        <a type="button" class="btn btn-link-red    " asp-area="" asp-controller="Profesionales" asp-action="Index">Profesionales</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="btn btn-link-red      " asp-area="" asp-controller="Horarios" asp-action="Index">Horarios</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="btn btn-link-red      " asp-area="" asp-controller="Turnos" asp-action="Index">Turno</a>
                    </li>

                </ul>
                <div class="nav-item">
                   
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-danger"><span class="bn31span font-weight-bold"> Cerrar Sesion </span></button>
                        </form>

                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content mt-5">

        @RenderBody()

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Sweetalert.js" asp-append-version="true"></script>
   

    @RenderSection("Scripts", required: false)
</body>
</html>
