<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGENDAR</title>
    <link href="~/css/estilosPropios.css" rel="stylesheet" />
    <link href="~/css/LayoutPublico.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light   box-shadow  colorNav">
            <div class="container">
                <a class="navbar-brand  " asp-area="" asp-controller="Home" asp-action="Index"><img src="~/lib/Imagenes/AGENDAR_LOGO_POSITIVO_02.png" class="img-fluid" width="120" alt="5px"></a>
                <ul class="navbar-nav  ">

                        <li class="nav-item">
                            <a class="bn31" style="margin-right:10px" asp-area="Identity" asp-page="/Account/Login"><span class="bn31span font-weight-bold"> Mi Cuenta </span></a>
                        </li>

                        @*<li class="nav-item">
                            <a class="bn31" asp-area="" asp-controller="Home" asp-action="IndexHomePublico"><span class="bn31span"> Solicitar Turno</span></a>
                        </li>*@                   
                </ul>
            </div>
        </nav>
    </header>

    <div class="body-content ">
       
            @RenderBody()
     
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Sweetalert.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

