@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2>GESTIONA TU CUENTA</h2>

<div>
    <h4>Cambiar la configuración de la cuenta</h4>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <div class="img" style="padding-bottom: 25px;">
                <img src="~/lib/Imagenes/logoLogin1.jpg" style="padding-left: 50px;" width="80%" height="80%" alt="" />
                </div>
            @*<partial name="_ManageNav" />*@
        </div>
        <div class="col-md-7">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
