@model AGENDAR.Models.Empresa

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "~/Views/Shared/Layout-Login.cshtml";
}

<body class="bodyCrearEmpresa">


    <h1 class="text-center"><u> CREAR EMPRESA</u></h1>

    <!--Agregado de Formulario dentro del Modal-->
    <form id="frmFormulario" enctype="multipart/form-data">


        <input type="hidden" id="EmpresaID" name="EmpresaID" value="0" />
        <div class="form-group">
            <label for="recipient-name" class="control-label font-weight-bold labelCrearEmpresa">Razon Social</label>
            <input type="text" class="form-control" autocomplete="off" required name="razonSocial" id="RazonSocial">
            <p class="text-danger font-weight-bold" style="font-size:small" id="Error-RazonSocial"></p>
        </div>
        <!--Lista de Localidades dentro del Dropdown de Empresa-->
        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label font-weight-bold labelCrearEmpresa">Localidad</label>
                @Html.DropDownList("LocalidadID", null, htmlAttributes: new { @class = "form-control letrainput" })
            </div>
            <div class="form-group col-md-6">
                <label for="recipient-name" class="control-label font-weight-bold labelCrearEmpresa">Dirreccion</label>
                <input type="text" class="form-control" autocomplete="off" required name="direccion" id="Direccion">
            </div>

        </div>
        <div class="row ">
            <div class="form-group col-md-6 margen ">
                <label for="recipient-name" class="control-label font-weight-bold labelCrearEmpresa">CUIT</label>
                <input type="number" class="form-control" autocomplete="off" required name="cuit" id="Cuit">
            </div>
            <div class="form-group col-md-6 margen">
                <label for="recipient-name" class="control-label font-weight-bold labelCrearEmpresa">Telefono</label>
                <input type="number" class="form-control" autocomplete="off" required name="telefono" id="Telefono">

            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 espacioBotones">


                <span class="btn btn-secondary btn-file">
                    <i class="bi bi-cloud-arrow-up-fill"></i> Subir Imagen <input type="file" autocomplete="off" required name="archivo" id="Archivo">
                </span>

                <p class="text-danger font-weight-bold" style="font-size:small" id="Error-CamposEmpresas"></p>
            </div>

        </div>
        <div class="form-group">
            <button type="button" onclick="GuardarEmpresa()" class="btn btn-success"><i class="bi bi-folder-check"></i> Guardar</button>
            <button type="button" onclick="VaciarFormulario()" class="btn btn-danger" data-dismiss="modal"><i class="bi bi-backspace"></i> Borrar</button>
        </div>

    </form>
    <!-- Modal -->
    <div class="modal fade  " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog dialogEmpresa " role="document">
            <div class="modal-content ">



                <div class="modal-body bodyEmpresa">
                    <h3 class="text-center alertaEmpresa">ESPERE A QUE SU EMPRESA SEA ACTIVADA...</h3>
                    <a class="btn btn-outline-success" href="~/Profesionales/Index">Crear Profesionales y Horarios <i class="bi bi-cloud-plus"></i>  </a>

                </div>



            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/js/Empresa-1.0.js"></script>
    <script>
        window.onload = CompletarTablaEmpresas();
    </script>

}