@model AGENDAR.Models.Empresa

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "~/Views/Shared/Layout-Login.cshtml";
}
<div class="row justify-content-center">
    <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
            <div class="img">
                <img src="~/lib/Imagenes/logoLogin1.jpg" width="100%" height="100%" alt="" />
            </div>
            <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="text-md-center font-weight-bold">CREAR EMPRESA</h3>
                    </div>

                </div>
                <form id="frmFormulario" enctype="multipart/form-data">


                    <input type="hidden" id="EmpresaID" name="EmpresaID" value="0" />
                    <div class="form-group">
                        <label for="recipient-name" class="label">Razon Social</label>
                        <input type="text" class="form-control" autocomplete="off" required name="razonSocial" id="RazonSocial">
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-RazonSocial"></p>
                    </div>
                    <!--Lista de Localidades dentro del Dropdown de Empresa-->
                    <div class="row ">
                        <div class="form-group col-md-12">
                            <label class="label" >Localidad</label>
                            @Html.DropDownList("LocalidadID", null, htmlAttributes: new { @class = "form-control inputProfesionales " })
                        </div>
                        <div class="form-group col-md-12">
                            <label for="recipient-name" class="label">Dirreccion</label>
                            <input type="text" class="form-control" autocomplete="off" required name="direccion" id="Direccion">
                        </div>
                    </div>
                 
                    <div class="row ">
                        <div class="form-group col-md-6 margen ">
                            <label for="recipient-name" class="label">CUIT</label>
                            <input type="number" class="form-control" autocomplete="off" required name="cuit" id="Cuit">
                        </div>
                        <div class="form-group col-md-6 margen">
                            <label for="recipient-name" class="label">Telefono</label>
                            <input type="number" class="form-control" autocomplete="off" required name="telefono" id="Telefono">

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="btn btn-secondary btn-file">
                                <i class="bi bi-cloud-arrow-up-fill"></i> Subir Imagen <input type="file" autocomplete="off" required name="archivo" id="Archivo">
                            </span>
                            <button type="button" id="imagen-ver" onclick="VerImagen()" class="btn btn-secondary"><i class="bi bi-eye"></i> </button>
                            <button type="button" id="imagen-ocultar" onclick="OcultarImagen()" class="btn btn-secondary ocultar"><i class="bi bi-eye-slash"></i>  </button>

                          
                            <img id="blah" src="" class="tamañoImagen ocultar " />
                        </div>
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-CamposEmpresas"></p>
                    </div>
                    <div class="form-group">
                        <button type="button" id="btn-guardar" onclick="GuardarEmpresa()" class=" form-control btn btn-primary rounded submit px-3"><i class="bi bi-folder-check"></i> Guardar</button>
                        <button type="button" id="btn-guardar-espere" class="form-control btn btn-primary rounded submit px-3 ocultar"><i class="bi bi-folder-check"></i> Espere...</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<link href="~/css/VistaLogin.css" rel="stylesheet" />

@section Scripts {
    <script src="~/js/Empresa-1.0.js"></script>
    <script>
        window.onload = CompletarTablaEmpresas();
    </script>

}