@model IEnumerable<AGENDAR.Models.Empresa>
@{
    ViewData["Title"] = "EmpresaIndex";
}

<h1 style="background-color:#8f9393" class="text-center">ESPERE A QUE SU EMPRESA SEA ACTIVADA..</h1>
<a class="btn btn-link" href="~/Horarios/Index">Crear Profesionales y Horarios </a>

