@model IEnumerable<AGENDAR.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Empresas</h2>

<div style="height:450px; overflow: auto">
    <table class="table table-bordered table-light ">
        <thead class=" table-dark table-bordered ">
            <tr>
                <th class="text-center" style="width:200px">
                    Empresa
                </th>
                <th class="text-center" style="width:200px">
                    Localidad
                </th>
                <th class="text-center  " style="width:250px">
                    Direccion
                </th>
                <th class="text-center ocultar767" style="width:180px">
                    Telefono
                </th>
                <th class="text-center ocultar767" style="width:180px">
                    CUIT
                </th>
                <th class="text-center ocultar767" style="width:200px">
                    Imagen
                </th>
                <th class="text-center" style="width:150px">Opciones</th>
            </tr>
        </thead>
        <tbody id="tbody-empresa">
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade modal-ancho " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-Modal-Empresa"></h5>
                <button type="button" class="close" data-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!--Agregado de Formulario dentro del Modal-->
            <div class="modal-body">
                <form id="frmFormulario" enctype="multipart/form-data">


                    <input type="hidden" id="EmpresaID" name="EmpresaID" value="0" />

                    <div class="form-group">
                        <label for="recipient-name" class="control-label font-weight-bold">Razon Social</label>
                        <input type="text" class="form-control" autocomplete="off" required name="razonSocial" id="RazonSocial">
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-RazonSocial"></p>
                    </div>
                    <!--Lista de Localidades dentro del Dropdown de Empresa-->
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label font-weight-bold">Localidad</label>
                            @Html.DropDownList("LocalidadID", null, htmlAttributes: new { @class = "form-control letrainput" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="control-label font-weight-bold">Dirreccion</label>
                            <input type="text" class="form-control" autocomplete="off" required name="direccion" id="Direccion">
                        </div>
                    </div>
                        <div class="row ">
                            <div class="form-group col-md-6 margen ">
                                <label for="recipient-name" class="control-label font-weight-bold">CUIT</label>
                                <input type="number" class="form-control" autocomplete="off" required name="cuit" id="Cuit">
                            </div>
                            <div class="form-group col-md-6 margen">
                                <label for="recipient-name" class="control-label font-weight-bold">Telefono</label>
                                <input type="number" class="form-control" autocomplete="off" required name="telefono" id="Telefono">

                            </div>
                        </div>
                       



                        <div class="row">
                            <div class="col-lg-6 espacioBotones">


                                <span class="btn btn-secondary btn-file">
                                    <i class="bi bi-cloud-arrow-up-fill"></i> Subir Imagen <input type="file" autocomplete="off" required name="archivo" id="Archivo">
                                </span>
                            </div>
                            <div class="col-lg-3 espacioImagen " id="div-imagenActual">
                                
                            </div>

                        </div>
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-CamposEmpresas"></p>

</form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="VaciarFormulario()" class="btn btn-outline-danger" data-dismiss="modal"><i class="bi bi-backspace"></i> Cerrar</button>
                <button type="button" onclick="GuardarEmpresa()" class="btn btn-outline-success"><i class="bi bi-folder-check"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>


@*//Funcion para Completar la Tabla de Empresas*@

@section Scripts {
    <script src="~/js/Empresa-1.0.js"></script>
    <script>
        window.onload = CompletarTablaEmpresas();
    </script>
}