@model IEnumerable<AGENDAR.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Empresas</h1>



<table class="table table-bordered table-light">
    <thead class="table-dark table-bordered">
        <tr>
            <th class="text-center" style="width:200px">
                RazonSocial
            </th>
            <th class="text-center" style="width:180px">
                CUIT
            </th>
            <th class="text-center" style="width:250px">
                Direccion
            </th>
            <th class="text-center" style="width:180px">
                Telefono
            </th>
            <th class="text-center" style="width:200px">
                Localidad
            </th>
            <th class="text-center" style="width:200px">
                Tipo Empresas
            </th>
            <th class="text-center" style="width:200px">
               Imagen
            </th>
            <th class="text-center" style="width:150px">Opciones</th>
        </tr>
    </thead>
    <tbody id="tbody-empresa">
    </tbody>
</table>


@*//Funcion para Completar la Tabla de Empresas*@

@section Scripts {
    <script src="~/js/Empresa-1.0.js"></script>
    <script>
        window.onload = CompletarTablaEmpresas();
    </script>
}