@model IEnumerable<AGENDAR.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Empresas</h1>

<p>
    <!-- Boton Modal -->
    <button class="btn btn-outline-success" onclick="AbrirModal()"><i class="bi bi-folder-plus"></i> Agregar Empresa</button>
</p>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                RazonSocial
            </th>
            <th>
                CUIT
            </th>
            <th>
                Direccion

            </th>
            <th>
                Telefono
            </th>
            <th class="text-center" style="width:300px">
                Localidad
            </th>
            <th class="text-center" style="width:300px">
                Tipo Empresas
            </th>
            <th class="text-center" style="width:300px">Opciones</th>
        </tr>
    </thead>
    <tbody id="tbody-empresa">
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-Modal-Empresa"></h5>
                <button type="button" class="close" data-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!--Agregado de Formulario dentro del Modal-->
            <div class="modal-body">
                <form>
                    <input type="hidden" id="EmpresaID" value="0" />
                    <div class="form-group">
                        <label for="recipient-name" class="control-label font-weight-bold">Razon Social</label>
                        <input type="text" class="form-control" autocomplete="off" required id="RazonSocial">
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-RazonSocial"></p>
                    </div>
                    <!--Lista de Localidades dentro del Dropdown de Empresa-->
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Localidad</label>
                        @Html.DropDownList("LocalidadID", null, htmlAttributes: new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label class="control-label font-weight-bold">Tipo de Empresa</label>
                        @Html.DropDownList("ClasificacionEmpresaID", null, htmlAttributes: new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label class="control-label">CUIT</label>
                        <div class="input-group-append">
                            <input type="tel" class="form-control" value="0" style="text-transform:uppercase" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">DIRECCCIÓN</label>
                        <div class="input-group-append">
                            <input type="tel" class="form-control" value="0" style="text-transform:uppercase" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">TELEFONO</label>
                        <div class="input-group-append">
                            <input type="tel" class="form-control" value="0" style="text-transform:uppercase" autocomplete="off">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="VaciarFormulario()" class="btn btn-outline-danger" data-dismiss="modal"><i class="bi bi-backspace"></i> Cerrar</button>
                <button type="button" onclick="GuardarEmpresa()" class="btn btn-outline-success"><i class="bi bi-folder-check"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@*//Funcion para Completar la Tabla de Empresas*@

@section Scripts {
    <script src="~/js/Empresa-1.0.js"></script>
    <script>
        window.onload = CompletarTablaEmpresas();
    </script>
}