@model IEnumerable<AGENDAR.Models.Localidad>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Localidades</h2>

<p>
    <!-- Boton Modal -->
    <button class="btn btn-success" onclick="AbrirModal()"><i class="bi bi-folder-plus"></i> Agregar Localidad</button>
</p>

<table class="table table-bordered table-light">
    <thead class="table-dark table-bordered ">
        <tr>
            <th class="text-center" style="width:150px">
                Localidad
            </th>
            <th class="text-center ocultar767" style="width:150px">
                Codigo Postal
            </th>
            <th class="text-center" style="width:150px">
                Provincia
            </th>
            <th class="text-center" style="width:150px">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody id="tbody-localidades">
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-Modal-Localidades"></h5>
                <button type="button" class="close" data-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!--Agregado de Formulario dentro del Modal-->
            <div class="modal-body">
                <form>
                    <input type="hidden" id="LocalidadID" value="0" />
                    <div class="form-group">
                        <label for="recipient-name" class="control-label font-weight-bold">Localidad</label>
                        <input type="text" class="form-control" autocomplete="off" required id="LocalidadNombre" oninput="this.value = this.value.replace(/[^a-zA-Z]/,'')">

                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label font-weight-bold">Codigo Postal</label>
                        <input type="number" class="form-control" autocomplete="off" required id="CodPostal">

                    </div>
                    <!--Lista de Provincias dentro del Dropdown de Localidades-->
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Provincia</label>
                        @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "form-control" })
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-ProvinciaNombre"></p>
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-LocalidadNombre"></p>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="VaciarFormulario()" class="btn btn-outline-danger" data-dismiss="modal"><i class="bi bi-backspace"></i> Cerrar</button>
                <button type="button" onclick="GuardarLocalidad()" class="btn btn-outline-success"><i class="bi bi-folder-check"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
@*//Funcion para Completar la Tabla de Localidades*@

@section Scripts {

    <script src="~/js/Localidad-1.0.js"></script>
    <script>
        window.onload = CompletarTablaLocalidades();
    </script>
}