@model IEnumerable<AGENDAR.Models.Turno>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<style>


    .fc-daygrid-day-number {
        color: black !important;
        font-weight: bolder;
    }
    h2 {
        color: black !important;
       
    }
    #calendar {
        max-width: 1100px;
        max-height: 500px;
        margin: 0 auto;
        
    }
    .inputTurno{
        padding-left:0px;
    }
    .fc-daygrid-event-dot {
        border: 4px solid #008000 !important;
        border: calc(var(--fc-daygrid-event-dot-width, 8px) / 2) solid var(--fc-event-border-color, #008000) !important;
    }
    .inputProfesionalesfiltro {
        font-size: 11px !important;
        background-color: #2C3E50;
        color: white;
    }
    .fc .fc-daygrid-more-link {
        color: black !important;
    }
</style>
<body>

    <div class="form-group text-center inputTurno  col-md-4 col-sm-4 col-xl-4">
        @Html.DropDownList("ProfesionalIDFiltro", null, htmlAttributes: new { @class = "form-control inputProfesionalesfiltro " })
    </div>

    <div id='calendar'></div>

</body>

@section Scripts {

    <script src="~/js/main.js"></script>
    <script src="~/js/es.js"></script>

    
<script>


    window.onload = CargaElementos();

    //let arrayTurnos = [];


    //function CargaElementos() {

    //    //$.ajax({
    //    //    type: "GET",
    //    //    url: '../../Turnos/MostrarTurnosInterno',
    //    //    data: {},
    //    //    async: false,
    //    //    success: function (listadoTurnos) {

    //    //        //$.each(listadoTurnos, function (index, turno) {
    //    //        //    arrayTurnos.push({ title: turno.nombre, start: turno.horarioFecha });
    //    //        //});

    //    //        CalendarioTorneo();
    //    //    },
    //    //    error: function (data) {
    //    //        alert("Error al cargar los torneos.");
    //    //    }
    //    //});
    //    CalendarioTorneo();
    //}


    //function CalendarioTorneo() {

    //    document.addEventListener('DOMContentLoaded', function () {
    //        var calendarEl = document.getElementById('calendar');

    //        var calendar = new FullCalendar.Calendar(calendarEl, {
    //            headerToolbar: {
    //                left: 'prev,next today',
    //                center: 'title',
    //                right: 'dayGridMonth,dayGridDay'
    //            },
    //            initialDate: '2020-09-12',
    //            navLinks: true, // can click day/week names to navigate views
    //            editable: true,
    //            locale: 'es',
    //            events: arrayTurnos,
    //            //events: [
    //            //    {
    //            //        title: 'Lunch',
    //            //        start: '2020-09-12T12:00:00'
    //            //    },

    //            //    {
    //            //        title: 'Meeting',
    //            //        start: '2020-09-12T14:30:00'
    //            //    },
    //            //    {
    //            //        title: 'Meeting',
    //            //        start: '2020-09-12T14:30:00'
    //            //    },
    //            //    {
    //            //        title: 'Meeting',
    //            //        start: '2020-09-12T14:30:00'
    //            //    },
    //            //    {
    //            //        title: 'Meeting',
    //            //        start: '2020-09-12T14:30:00'
    //            //    },
    //            //    {
    //            //        title: 'Meeting',
    //            //        start: '2020-09-12T14:30:00'

    //            //    },
    //            //    {
    //            //        title: 'Meeting',
    //            //        start: '2020-09-12T14:30:00'
    //            //    },
    //            //    {
    //            //        title: 'Meeting',
    //            //        start: '2020-09-12T14:30:00'
    //            //    },
    //            //    {
    //            //        title: 'Meeting',
    //            //        start: '2020-09-12T14:30:00'
    //            //    },
    //            //]

    //        });

    //        calendar.render();
    //    });
    //}


</script>
}



<link href="~/css/main.css" rel="stylesheet" />