@model IEnumerable<AGENDAR.Models.Turno>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="form-group text-center inputTurno  col-md-4 col-sm-4 col-xl-4">
        @Html.DropDownList("ProfesionalIDFiltro", null, htmlAttributes: new { @class = "form-control inputProfesionalesfiltro " })
    </div>

    <div id='calendar'></div>
    <!-- Modal -->
    <div class="modal fade " id="modalEstado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog " role="document">
            <div class="modal-content modalAceptar ">
                <div class="modal-header">
                    <h5 class="modal-title titulo414">Estado del Turno:</h5>
                    <button type="button" class="close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <!--Agregado de Formulario dentro del Modal-->
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="TurnoID" value="0" />


                        <div class="form-group aceptarBoton botones414">

                            <button type="button" onclick="EstadoTurno(2)" class="btn btn-outline-success "> Confirmar </button>
                            <button type="button" onclick="EstadoTurno(0)" class="btn btn-outline-dark"> Cancelar</button>
                            <button type="button" onclick="EstadoTurno(3)" class="btn btn-outline-danger "> Finalizar </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

@section Scripts {

    <script src="~/js/main.js"></script>
    <script src="~/js/es.js"></script>


    <script>
        window.onload = CargaElementos();
    </script>
    @*//FUNCIÓN PARA DETECTAR LA RESOLUCIÓN DE LA PANTALLA*@
    <script>
        $(window).resize(function () {
            var widthBrowser = $(window).height();
            var heightBrowser = $(window).width();
            /*console.log("Tamaño de la pantalla del navegador: width=" + widthBrowser + " height=" + heightBrowser);*/
        });
    </script>
}
<link href="~/css/main.css" rel="stylesheet" />
<link href="~/css/CalendarioPropio.css" rel="stylesheet" />