@model IEnumerable<AGENDAR.Models.Turno>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,dayGridDay'
            },
            initialDate: '2020-09-12',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            locale: 'es',

             //events: [
             //    {
             //        title: 'Lunch',
             //        start: '2020-09-12T12:00:00'
             //    },
                 
             //    {
             //        title: 'Meeting',
             //        start: '2020-09-12T14:30:00'
             //    },
             //    {
             //        title: 'Meeting',
             //        start: '2020-09-12T14:30:00'
             //    },
             //    {
             //        title: 'Meeting',
             //        start: '2020-09-12T14:30:00'
             //    },
             //    {
             //        title: 'Meeting',
             //        start: '2020-09-12T14:30:00'
             //    },
             //    {
             //        title: 'Meeting',
             //        start: '2020-09-12T14:30:00'

             //    },
             //    {
             //        title: 'Meeting',
             //        start: '2020-09-12T14:30:00'
             //    },
             //    {
             //        title: 'Meeting',
             //        start: '2020-09-12T14:30:00'
             //    },
             //    {
             //        title: 'Meeting',
             //        start: '2020-09-12T14:30:00'
             //    },
             //]
          
        });
    
        calendar.render();
    });


</script>
<style>


    .fc-daygrid-day-number {
        color: black !important;
        font-weight: bolder;
    }
    h2 {
        color: black !important;
       
    }
    #calendar {
        max-width: 1100px;
        max-height: 500px;
        margin: 0 auto;
        
    }
</style>
<body>

    <div id='calendar'></div>
    
</body>



@section Scripts {

    @*<script src="~/js/Turno.js"></script>*@
    <script src="~/js/main.js"></script>
    <script src="~/js/es.js"></script>
    @*<script>
        window.onload = Completarcalendario();
    </script>*@
}

<link href="~/css/main.css" rel="stylesheet" />