@model IEnumerable<AGENDAR.Models.Turno>

@{
    ViewData["Title"] = "Turnos";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container " style="padding-bottom:10px">
        <div class="row inputTurno">
            @Html.DropDownList("ProfesionalIDFiltro", null, htmlAttributes: new { @class = "form-control inputProfesionalesfiltro " })
        </div>
        
    </div>



    <div id='calendar'></div>
    <!-- Modal -->
    <div class="modal fade modal-ancho  " id="modalEstado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog " role="document">
            <div class="modal-content  ">
                <div class="modal-header">
                    <h5 class="modal-title titulo414">Estado del Turno:</h5>
                    <button type="button" class="close cerrarModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <!--Agregado de Formulario dentro del Modal-->
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="TurnoID" value="0" />


                        <div class="form-group aceptarBoton botones414 " id="btn-estado">

                            <button type="button" onclick="EstadoTurno(2)" id="btn-confirmar" class="btn btn-outline-success tamañoBoton "> Confirmar </button>
                            <button type="button" onclick="EstadoTurno(0)" class="btn btn-outline-dark tamañoBoton"> Cancelar</button>
                            <button type="button" onclick="EstadoTurno(3)" class="btn btn-outline-danger tamañoBoton "> Finalizar </button>
                        </div>
                        <div id="btn-estado-espere" class="form-group  centrarGif ocultar">
                            <img class=" cargando" src="~/lib/Imagenes/R.gif" alt="">

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="container " style="padding-top:5px">
        <div class="row">
            <div class="turnosColores col-3">
                <p><i class="bi bi-circle-fill" style="color:green"></i> Turno Confirmado</p>
            </div>
            <div class="turnosColores col-3">
                <p><i class="bi bi-circle-fill" style="color: red"></i> Turno Cancelado</p>
            </div>
            <div class="turnosColores col-3">
                <p><i class="bi bi-circle-fill" style="color: orange"></i> Turno Pendiente</p>
            </div>
            <div class="botonEmpresaActual col-3">@Html.DropDownList("EmpresaActual", null, htmlAttributes: new { @class = "form-control empresaActual no-arrow ", @disabled = "disabled" })</div>
        </div>
    </div>
</body>

@section Scripts {

    <script src="~/js/main.js"></script>
    <script src="~/js/es.js"></script>
    <script src="~/js/moment.min.js"></script>

    <script>
        window.onload = CargaElementos();
    </script>
    

}
<link href="~/css/main.css" rel="stylesheet" />
<link href="~/css/CalendarioPropio.css" rel="stylesheet" />