@model IEnumerable<AGENDAR.Models.Horario>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Horarios</h2>

<p>
    <!-- Boton Modal -->
    <button class="btn btn-success" onclick="AbrirModal()"><i class="bi bi-folder-plus"></i> Agregar Horario</button>
</p>
@*<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class=" text-left mb-0">
                <button class="btn text-left btn-link-red btn-block  botonDatos collapsed " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <i class="bi bi-caret-down-square-fill"></i>    SELECCIONE PROFESIONAL
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse  " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="form-group text-center inputInicio  col-md-4 col-sm-4 col-xl-4">
                <label for="recipient-name" class="control-label font-weight-bold">Profesional</label>
                @Html.DropDownList("ProfesionalIDFiltro", null, htmlAttributes: new { @class = "form-control inputProfesionales " })

            </div>
        </div>
    </div>*@


<table class="table table-bordered table-light">
    <thead class="table-dark table-bordered ">
        <tr>
            <th class="text-center ">
                Horario
            </th>

            <th class="text-center ">
                Duración
            </th>
            <th class="text-center ">
                Profesional
            </th>
            <th class="text-center ">
                Días
            </th>

            <th class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody id="tbody-horario">
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title tituloHorario" id="titulo-Modal-Horario"></h3>
                <button type="button" class="close" data-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>


            <!--Agregado de Formulario dentro del Modal-->
            <div class="modal-body">
                <form>
                    <input type="hidden" id="HorarioID" value="0" />

                    <div class="row">
                        <div class="form-group text-center inputInicio  col-md-6 col-sm-6 col-xl-6">
                            <label for="recipient-name" class="control-label font-weight-bold">Hora Inicio</label>
                            <input type="time" name="hora" class="form-control tamañoLetra" autocomplete="off" required id="HoraInicio">
                        </div>

                        <div class="form-group inputInicio text-center  col-md-6 col-sm-6 col-xl-6">
                            <label for="recipient-name" class="control-label font-weight-bold">Hora Fin</label>
                            <input type="time" name="hora" class="form-control tamañoLetra" autocomplete="off" required id="HoraFin">
                        </div>
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-HoraMenor"></p>
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-HoraMayor"></p>

                        <div class="text-center col-md-6 col-sm-6 col-xl-6">
                            <label for="recipient-name" class="control-label font-weight-bold">Duración </label>
                            <select id="TiempoTurnos" class="form-control" required>
                                <option class="text-center" value="">ELIJA UNA OPCIÓN</option>
                                <option value="0">15 Minutos</option>
                                <option value="1">30 Minutos</option>
                                <option value="2">45 Minutos</option>
                                <option value="3">60 Minutos</option>
                            </select>
                        </div>
                        <div class="form-group text-center inputInicio  col-md-6 col-sm-6 col-xl-6">
                            <label for="recipient-name" class="control-label font-weight-bold">Profesional</label>
                            @Html.DropDownList("ProfesionalID", null, htmlAttributes: new { @class = "form-control inputProfesionales " })

                        </div>

                        <div class="text-center col-md-6 col-sm-6 col-xl-6">
                            <label for="recipient-name" class="control-label font-weight-bold">  Dias de Trabajo</label>
                            <div class="accordion" id="accordionExample">


                                <div class="card tarjetaHorario">
                                    <button class="btn btn-light  text-center collapsed botonDias" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        SELECCIONE LOS DIAS DE TRABAJO <i class="bi bi-caret-down"></i>
                                    </button>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body horario">
                                            <div><input type="checkbox" value="false" id="Lunes"> <label>Lunes</label></div>
                                            <div><input type="checkbox" value="false" id="Martes"> <label>Martes</label></div>
                                            <div><input type="checkbox" value="false" id="Miercoles"> <label>Miercoles</label></div>
                                            <div><input type="checkbox" value="false" id="Jueves"> <label>Jueves</label></div>
                                            <div><input type="checkbox" value="false" id="Viernes"> <label>Viernes</label></div>
                                            <div><input type="checkbox" value="false" id="Sabado"> <label>Sabado</label></div>
                                            <div><input type="checkbox" value="false" id="Domingo"> <label>Domingo</label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-Hora"></p>
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-CamposHorario"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="VaciarFormulario()" class="btn btn-outline-danger" data-dismiss="modal"><i class="bi bi-backspace"></i> Cerrar</button>
                <button type="button" onclick="GuardarHorario()" class="btn btn-outline-success"><i class="bi bi-folder-check"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
@*//Funcion para Completar la Tabla del Tipo de Empresa*@

@section Scripts {
    <script src="~/js/Horario-1.0.js"></script>

    <script>
        window.onload = CompletarTablaHorario();
    </script>
}
