@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@{
    Layout = "~/Views/Shared/Layout-Login.cshtml";
}
@*<div class="limiter" id="login">
    <h1>Recupera tu contraseña</h1>
    <h5>Te enviaremos un mensaje a tu correo electronico para que puedas restablecer tu contraseña.</h5>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">

                <div class="form-group">
                    <label>Correo Electronico</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Introduce tu correo electrónico." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-outline-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>*@
<div class="limiter" id="login">
    <div >
        <div class="row">
            <div class="col-lg-6 formulario2">
                @*<div class="login_topimg">
                    <img src="~/lib/Imagenes/AGENDAR_LOGO_POSITIVO_01.png" />
                </div>*@
            </div>


            <div class="col-lg-6 col-md-offset-1 ">

                <div class="wrap-login100">
                    <form id="account" method="post">
                        <div class="row">
                            <h4 class="col-md-10">Recupera tu Contraseña</h4><a class="txt1 " asp-page="/Account/Login">
                                Volver
                            </a>
                        </div>
                        <p>Te enviaremos un mensaje a tu correo electronico para que puedas restablecer tu contraseña.</p>
                        <hr />
                        <div class="form-group">
                            <label>Correo Electronico</label>
                            <input asp-for="Input.Email" class="form-control" placeholder="Introduce tu correo electrónico." />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-outline-primary">Enviar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />

    }
    <link href="~/css/Login-1.css" rel="stylesheet" />
