@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@{
    Layout = "~/Views/Shared/Layout-Login.cshtml";
}


<div class="row justify-content-center">
    <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
            <div class="img" >
                <img src="~/lib/Imagenes/logoLogin1.jpg" width="100%" height="100%" alt="" />
            </div>
            <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                    <div class=" w-100">
                        <h3 class="tamanoTitulo font-weight-bold text-md-center">RECUPERAR CONTRASEÑA</h3>
                        
                    </div>
                    
                </div>
                <p>Te enviaremos un mensaje a tu correo electronico para que puedas restablecer tu contraseña.</p>
                <hr />
                <form id="account" method="post" class="signin-form">


                    <div class="form-group">
                        <label class="label" for="name">Correo Electronico</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="off" placeholder="Introduce tu correo electrónico." />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">RECUPERAR CONTRASEÑA</button>
                    </div>
                   
                    <div class="form-group">
                        <a class="form-control btn btn-primary rounded submit px-3" asp-page="/Account/Login">
                            VOLVER 
                        </a>
                        
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
<link href="~/css/VistaLogin.css" rel="stylesheet" />
