@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@{
    Layout = "~/Views/Shared/Layout-Login.cshtml";
}

@*<div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>

    </div>*@

<div class="limiter" id="login">
    <div class="container-login" style="background-color:lightsteelblue; outline:groove">

        <div class="container" style="background-image: url('https://www.gba.gob.ar/sites/default/files/transporte/noticias/images/WhatsApp%20Image%202018-12-04%20at%2012.15.14.jpeg'); ">
            <div class="row">
                <div class="col-md-6"></div>

                <div class="col-md-5 col-md-offset-1 formulario">
                    <div class="login_topimg">
                        <img src="~/lib/Imagenes/AGENDAR_LOGO_COLOR_01.png" />
                    </div>
                    <div class="wrap-login100">
                        <form id="account" method="post">

                            <hr />
                            @*<div asp-validation-summary="All" class="text-danger"></div>*@
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Iniciar sesión</button>
                            </div>
                            <div>
                                <button class="txt1  btn-link" onclick="AbrirModal()">
                                    ¿Has olvidado tu contraseña?
                                </button>
                                <a class="txt1" asp-page="/Account/Register">
                                    Registrarse
                                </a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-Modal-OlvideContraseña"></h5>
                <button type="button" class="close" data-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!--Agregado de Formulario dentro del Modal-->
            <div class="modal-body">
                <form>
                    <p>Introduce tu correo electrónico para recuperar tu contraseña.</p>
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" id="OlvideContraseñaID" class="form-control" autocomplete="off" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="VaciarFormulario()" class="btn btn-outline-danger" data-dismiss="modal"> Cancelar</button>
                <button type="button" onclick="EnviarEmail()" class="btn btn-outline-success">Buscar</button>
               
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/OlvideContraseña.js"></script>
}

<link href="~/css/Login-1.css" rel="stylesheet" />
