@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}
@{
    Layout = "~/Views/Shared/Layout-Login.cshtml";
}


@*<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
   
</div>*@
<div class="limiter" id="login">
    <div>


        <div class="row">
            <div class="col-lg-6 formulario">
                @*<div class="login_topimg">
                    <img src="~/lib/Imagenes/AGENDAR_LOGO_POSITIVO_01.png" />
                </div>*@
            </div>


            <div class="col-lg-6 col-md-offset-1 ">

                <div class="wrap-login100">
                    <form id="account" method="post">
                        <div class="row">
                            <h3 class="col-lg-10 col-md-offset-1 ">Registrarse</h3> <a class="txt1 " asp-page="/Account/Login">
                                Volver
                            </a>
                        </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" placeholder="Introduce un correo electrónico." />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" placeholder="Introduce una contraseña." />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Introduce una contraseña." />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="row">

                                <button type="submit" class="btn btn-outline-success col-md-6 col-sm-6 col-xl-6" onclick="ModalUsuario()">Registrar Usuario</button>

                                <button type="submit" class="btn btn-outline-primary col-md-6 col-sm-6 col-xl-6" onclick="VistaEmpresa()">Registrar Empresa</button>
                            </div>

                    </form>


                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Registrar Usuario</h5>
                                    <button type="button" class="close" data-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>

                                <!--Agregado de Formulario dentro del Modal-->
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" id="UsuarioID" value="0" />
                                        <div class="form-group">
                                            <label for="recipient-name" class="control-label font-weight-bold">Nombre</label>
                                            <input type="text" class="form-control" autocomplete="off" required id="UsuarioNombre">
                                            <p class="text-danger font-weight-bold" style="font-size:small" id="Error-UsuarioNombre"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="control-label font-weight-bold">Apellido</label>
                                            <input type="text" class="form-control" autocomplete="off" required id="UsuarioApellido">
                                            <p class="text-danger font-weight-bold" style="font-size:small" id="Error-UsuarioApellido"></p>
                                        </div>
                                        
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    
                                    <button type="button" onclick="GuardarUsuario()" class="btn btn-outline-success"><i class="bi bi-folder-check"></i> Guardar </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <link href="~/css/Login-1.css" rel="stylesheet" />
