@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@{
    Layout = "~/Views/Shared/Layout-Login.cshtml";
}


@*<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
   
</div>*@
<div class="limiter" id="login">
    <div class="container-login" style="background-color:lightsteelblue; outline:groove">
        <div class="container" style="background-image: url('https://www.gba.gob.ar/sites/default/files/transporte/noticias/images/WhatsApp%20Image%202018-12-04%20at%2012.15.14.jpeg'); ">

                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-5 col-md-offset-1 formulario">

                        <div class="login_topimg">
                            <img src="~/lib/Imagenes/AGENDAR_LOGO_COLOR_01.png" />
                        </div>
                        <div class="wrap-login100">
                            <form id="account" method="post">

                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                
                                <button type="submit" class="btn btn-outline-primary">Registrarse</button>
                               


                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <link href="~/css/Login-1.css" rel="stylesheet" />
