@model IEnumerable<AGENDAR.Models.Provincia>

@{
    ViewData["Title"] = "Index";
}


<h2>Provincias</h2>

<p>
    <!-- Boton Modal -->
    <button class="btn btn-success" onclick="AbrirModal()"><i class="bi bi-folder-plus"></i> Agregar Provincia</button>
</p>

<table class="table table-bordered table-light">
    <thead class="table-dark table-bordered ">
        <tr>
            <th>
                Descripción
            </th>
           
        </tr>
    </thead>
    <tbody id="tbody-provincias">
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-Modal-Provincias"></h5>
                <button type="button" class="close" data-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!--Agregado de Formulario dentro del Modal-->
            <div class="modal-body">
                <form>
                    <input type="hidden" id="ProvinciaID" value="0" />
                    <div class="form-group">
                        <label for="recipient-name" class="control-label font-weight-bold">Descripción</label>
                        <input type="text" class="form-control" autocomplete="off" required id="ProvinciaNombre"/>
                        <p class="text-danger font-weight-bold" style="font-size:small" id="Error-ProvinciaNombre"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="VaciarFormulario()" class="btn btn-outline-danger" data-dismiss="modal"><i class="bi bi-backspace"></i> Cerrar</button>
                <button type="button" onclick="GuardarProvincia()" class="btn btn-outline-success"><i class="bi bi-folder-check"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@*//Funcion para Completar la Tabla de Provincias*@

@section Scripts {
    <script src="~/js/Provincia-1.0.js"></script>
    <script>
        window.onload = CompletarTablaProvincias();
    </script>
}
