@model IEnumerable<AGENDAR.Models.Provincia>

@{
    ViewData["Title"] = "Provincias";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow">
    <div class="card-body">

        <div class="d-flex justify-content-between align-items-center"><h2>Provincias</h2><button class="btn btn-success" onclick="AbrirModal()"><i class="fa-solid fa-plus"></i></button></div>
        <hr>

        <div style="height:60vh; overflow: auto">
            <table id="t-veterinario-lis" class="table table-striped table-bordered ">
                <thead class="table-dark">
                  <tr>
                <th>
                    Descripción
                </th>

            </tr>
                </thead>
                <tbody id="tbody-provincias">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-Modal-Provincias"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="ProvinciaID" value="0" />

                    <div class="form-group mb-3">
                        <label class="control-label" for="ProvinciaNombre">Nombre </label>
                        <input type="text" class="form-control  " id="ProvinciaNombre" autocomplete="off" maxlength="30" onkeyup="this.value = this.value.toUpperCase()" required />
                    </div>
                    <p class="text-danger font-weight-bold" style="font-size:small" id="Error-ProvinciaNombre"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="VaciarFormulario()" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>  Cerrar</button>
                <button type="button" onclick="GuardarProvincia()" class="btn btn-success"><i class="fa-regular fa-bookmark"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>



@*//Funcion para Completar la Tabla de Provincias*@
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
@section Scripts {
    <script src="~/js/Provincia-1.0.js"></script>
    <script>
        window.onload = CompletarTablaProvincias();
    </script>
}
